body{
  background-color: #F7FFDD;
}

h1{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 150px;
  color: #D0E3CC;
}


#subHeader{
  color: #DBA159;
}



h2{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  padding-left: 1em;
  /*padding-bottom: 3em;*/
}

.text{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-left: 5em;
  padding-right: 5em;
}

.next{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  color: #D0E3CC;
  padding-left: 33em;
}

.pages {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;

}

.screenshot{
  display: block;
  width: 500px;
  height: 400px;

}



a:hover{
  color: #EFD780;
}



.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 400px;
  height: 300px;