html{
	background-color: limegreen;
}

h1{
	text-align: center;
	font-family: 'Rubik Puddles', cursive;
	font-size: 100px;
}

h2{
	text-align: center;
	font-family: 'BIZ UDMincho', serif;
	font-size: 30px;
}