body {
	background-color: darkorange;
}

main {
	border: solid 10px orangered;
}

p {
	color: White;
	font-size: 90px;
	font-family:Georgia;

}

#title {
	background-color: teal;

}

#body {
	font-size: 20px;
	background-color: teal;
}

